<div class="col-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Catagory</h4>
           
            <form action="/admin/editCatagory/<%- catagory._id  %> "  method="post" class="forms-sample" enctype="">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Name" value="<%- catagory.name  %> ">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
              
            </form>
        </div>
    </div>
</div>